
:root {
    --main-bg-color: rgba(113, 154, 222, 1);
    --font-size: 12px;

  }
body{  

    position: relative;
    height: 2775px;
    width: 1280px;
    border-radius: 0px;
    }
.logo{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 197px;
    top: 33px;    
}
.sub_logo{
    position: absolute;
    width: 138px;
    height: 20px;
    top: 42px;
    left:247px;

}
.main_menu {
    position: absolute;
    left: 600px;
    top: 34px;
    padding: 0px;
    width: 400px;
}
.main_menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
.main_menu li{
    float: left;
    width: 100px;
    padding-left: 10px;
}
.main_menu a{
    
    display: block;
    padding: 8px 8px;
    text-decoration: none;
    font-size: var(--font-size);
    color: black;
    width: 80px;
    text-align: center;
}
.main_menu a:hover, .main_menu .active{
    background: var(--main-bg-color);
    border-radius: 5rem;
    color: white ;
    transition: background 0.5s;
    width: 80px;
}

.right_menu{
    position: absolute;
    left: 985px;
    top: 30px;    
}
.bx {
    font-size: 1.5rem;
    color: black;
}
.counter{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: var(--font-size);
    background: var(--main-bg-color);
    color: #fff;
    border-radius: 50%;
    bottom: -2.5px;
    left: 15px;
}

.login_button{
    border-radius: 5rem;
    background-color: var(--main-bg-color);
    font-size:var(--font-size) ;
    border: none;
    color: white;
    padding: 8px 20px;
    transition-duration: 0.5s;
    display: inline-block;
    cursor: pointer;
}
.login{
    padding: 10px;
    font-size:var(--font-size) ;
    
}
.login_button:hover{
    color: black;
    background-color: white;
    border: 2px solid var(--main-bg-color);

}